$header_text_color: #fff;

.header {
  background-color: $primary-color;
  width: 100%;
  height: 75px;
  z-index: 1;
  display: flex;
  align-items: center;
}

.navbar {
  margin-left: 20px;
  font-size: 1.3rem;
}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navbar li {
  color: $header_text_color;
  margin: 0px 15px;
}
.navbar a {
  transition: all 300ms;
}
.navbar a:hover {
  text-decoration: underline;
}
