.hidden {
  visibility: hidden;
  animation: fadeOut linear 500ms 1 normal forwards;
}
.show {
  visibility: visible;
  animation: fadeIn linear 500ms 1 normal forwards;
}

@keyframes fadeOut {
  0% { opacity: 1; height: auto; }
  90% { opacity: 0; height: auto; }
  100% { opacity: 0; height: 0; }
}
@keyframes fadeIn {
  0% { opacity: 0; height: 0; }
  90% { opacity: 0; height: auto; }
  100% { opacity: 1; height: auto; }
}
