.iconButton {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 9999px;
  width: auto;
  height: auto;
  cursor: pointer;
  display: flex;
  -webkit-tap-highlight-color: transparent;
  padding: 0;
}
.iconButton:focus {
  outline: 0;
}