.navbar {
  margin-left: 20px;
  font-size: 1.3rem;
  justify-self: flex-start;
}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  & li {
    margin: 0px 15px;
  }
}