.btn {
  align-items: center;
  background-color: $btn-primary;
  border-radius: 999px;
  border: 1px solid $primary-color;
  color: $white;
  cursor: pointer;
  display: flex;
  font-family: $font;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 10px 24px;
  transition: background-color 200ms;
}
.btn:hover {
  background-color: $btn-primary-hover;
}

.btn svg {
  margin-right: 8px;
}